<div class="vertical-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 offset-sm-2 justify-content-center">
        <a routerLink="/view">
        <div class="card bg-warning" style="width: 18rem;">
          
          <div class="card-body">
            <h5 class="card-title">View</h5>
            <p class="card-text"><br>Click here to review the cards <br></p>
            
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-4 justify-content-center">
        <a routerLink="/submit">
        <div class="card bg-warning" style="width: 18rem;">
         
          <div class="card-body">
            <h5 class="card-title">Create</h5>
            <p class="card-text"><br>Click here to create new cards <br></p>
            
          </div>
        </div>

        </a>
      </div>
    </div>

  </div>

</div>