
<div class="vertical-center">
  <div class="container">
    
    <form action="POST" class="justify-content-center">
      <label for="question">Please enter the flashcard question</label><br>
      <input id="question" name="question" type="text" /><br>
      <label for="answer">Please enter the flashcard answer</label><br>
      <input type="text" id="answer" name="answer" /><br>
      <input class="btn btn-warning" type="submit">
      <button class="btn btn-warning" id="back-button" routerLink="/home">Back</button>
    </form>

  </div>

</div>
